/* Importando a fonte */
@import url('http://fonts.cdnfonts.com/css/gotham');

/* Resetando o documento */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Declarando váriavel */
:root {
    --Cinza: #141414;
    --Gotham: 'Gotham Light', sans-serif;
}

/* Elementos base */
body {
    background-color: var(--Cinza);
    font-family: var(--Gotham);
    color: #ffffff;
}

header {
    padding-bottom: 300px;
}

header img#logo {
    width: 150px;
    padding: 20px 0px 0px 50px;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

header nav {
    margin-left: 30px;
    margin-top: 15px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

header nav a:hover {
    color: #aaa;
}

/* Filme principal */
.filmePrincipal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)), url('../Images/fundoHouseOfCards.jpg');

    height: 800px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filmePrincipal .descricao {
    margin-bottom: 40px;
}

.titulo {
    font-size: 80px;
}