@import url('http://fonts.cdnfonts.com/css/gotham');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --Cinza: #141414;
    --Gotham: 'Gotham Light', sans-serif;
}

body {
    background-color: var(--Cinza);
    font-family: var(--Gotham);
}

header img#logo {
    width: 150px;
    padding: 20px 0px 0px 50px;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav {
    margin-left: 30px;
    margin-top: 15px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: var(--Gotham);
    margin-right: 10px;
}

header nav a:hover {
    color: #aaa;
}