/* Importando a fonte */
@import url('http://fonts.cdnfonts.com/css/gotham');

/* Resetando o documento */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Declarando váriavel */
:root {
    --Cinza: #141414;
    --Gotham: 'Gotham Light', sans-serif;
}

/* Elementos base */
body {
    background-color: var(--Cinza);
    font-family: var(--Gotham);
    color: #ffffff;
}

header img#logo {
    width: 150px;
    padding: 20px 0px 0px 50px;
}

header div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav {
    margin-left: 30px;
    margin-top: 15px;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-family: var(--Gotham);
    margin-right: 10px;
}

header nav a:hover {
    color: #aaa;
}

/* Filme principal */